Adafruit-Blinka==3.3.4
adafruit-circuitpython-bme280==2.3.2
adafruit-circuitpython-busdevice==4.1.1
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.0.4
paho-mqtt==1.5.0
pkg-resources==0.0.0
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
spidev==3.4
