Adafruit-Blinka==0.2.7
adafruit-circuitpython-bme280==2.1.0
adafruit-circuitpython-busdevice==2.2.6
Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.3
paho-mqtt==1.4.0
pkg-resources==0.0.0
rpi-ws281x==4.0.0
RPi.GPIO==0.6.3
spidev==3.2
