adafruit-circuitpython-busdevice==5.2.12
Adafruit-Blinka==8.61.2
adafruit-circuitpython-bme280==2.6.28
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.11
paho-mqtt==2.1.0
pkg-resources==0.0.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
spidev==3.7
